<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <ckeditor (ready)="editorsReady($event)" [editor]="Editor" [disabled]="readonly" [config]="config"
                    [(ngModel)]="text"></ckeditor>

                <div *ngIf="!menu" class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <button [disabled]="!text || readonly" (click)="show()" class="btn btn-primary">Sauvegarder les
                            modifications</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>