
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-title-box d-flex align-items-center justify-content-between">
        <h4 class="mb-0">Détails enrôlé</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a routerLink="/">{{ 'SHARED.HOME' | translate}}</a></li>
            <li class="breadcrumb-item active">Détails enrôlé</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="row card">
    <div class="col-md-12">
              <div class="row bg-white p-2 shadow-sm border-top m-0">
            <div class="col-12 d-flex align-items-center px-0">
                <a (click)="selectMenu('details-enrole')"
                    [ngClass]="clickedButton=='details-enrole' ? 'text-info bg-white  btn btn-outline-info' : 'text-muted'"
                    class="nav-link dropdown-toggle arrow-none px-3 py-2" style="align-self: center;"
                    href="javascript: void(0);" id="topnav-components" role="button">
                    <span><i class="ri-user-follow-line me-2 align-bottom mr-2"></i></span>
                    <span>Identité de l'enrolé</span>
                </a>
                <a (click)="selectMenu('show-card')"
                    [ngClass]="clickedButton=='show-cartd' ? 'text-info bg-white  btn btn-outline-info' : 'text-muted'"
                    class="nav-link dropdown-toggle arrow-none px-3 py-2" style="align-self: center;"
                    href="javascript: void(0);" id="topnav-components" role="button">
                    <span><i class="ri-qr-code-line me-2 align-bottom ml-2"></i></span>
                    <span>Visualiser la carte</span>
                </a>
               
            </div>
        </div>
    </div>

    <div class="row w-100" *ngIf="clickedButton=='details-enrole'">
      <div class="col-md-12">
         <form [formGroup]="form" class="w-100">
                  <div class="row col-12">
                      <div class="col-md-6 w-100">
                    <div class="form-group w-100"> 
                        <label for="content"> Prénom<span
                                      class="text-primary">*</span></label>
                              <input class="form-control" formControlName="firstName" placeholder="Prénom"
                              [ngClass]="{'is-invalid': submitted && formControl.firstName.errors}"
                                  name="" />
                            </div>
                </div>
                 <div class="col-md-6 d-flex flex-column align-items-start">
                                <label class="" for="">Nom<span
                                        class="text-primary">*</span></label>
                                <input type="text" class="form-control" formControlName="lastName" placeholder="Nom"
                                    name="" [ngClass]="{ 'is-invalid': submitted && formControl?.lastName?.errors }">
                                <div *ngIf="submitted && formControl?.lastName?.errors" class="invalid-feedback">
                                    <div *ngIf="formControl?.lastName?.errors?.required">Vous devez entrer un nom.</div>
                                </div>
                  </div>
                   </div>
                   <div class="row col-12">
                        <div class="col-md-6">
                            <div class="form-group w-100">
                                <label for="content">Date de naissance<span
                                        class="text-primary">*</span></label>
                                  <input class="form-control" formControlName="dateOfBirth" placeholder="Date de naissance"
                                  [ngClass]="{'is-invalid': submitted && formControl.dateOfBirth.errors}"
                                      name="" />
                                </div>
                        </div>
                        <div class="col-md-6">
                            <label class="" for="">Sexe<span
                                    class="text-primary">*</span></label>
                            <ng-select [items]="sexes" notFoundText="Aucun élement₁" 
                            [ngClass]="{'is-invalid': submitted && formControl.sexeId.errors}"
                            formControlName="sexeId"
                              placeholder="Veuillez sêlectionner" bindLabel="name" bindValue="identifier"></ng-select>
                            <div *ngIf="submitted && formControl.sexeId.errors" class="invalid-feedback">
                                <div *ngIf="formControl.sexeId.errors?.required">Vous devez sêlectionner un genre.</div>  
                            </div>
                        </div>
                   </div>

                   <div class="row col-12">
                    <div class="col-6">
                      <div class="form-group w-100">
                        <label for="sexe">Numéro d'identification national<span
                                class="text-primary">*</span></label>
                         <input class="form-control" type="text" formControlName="nin" placeholder="Numéro d'identification national"
                                  [ngClass]="{'is-invalid': submitted && formControl.nin.errors}"
                                      name="" />
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group w-100">
                        <label for="email">Email<span
                                class="text-primary">*</span></label>
                         <input class="form-control" type="email" formControlName="nin" placeholder="Email"
                                  [ngClass]="{'is-invalid': submitted && formControl.email.errors}"
                                      name="" />
                      </div>
                    </div> 
                   </div>  

                   <div class="row col-12">
                      <div class="col-6">
                          <div class="form-group w-100">
                            <label for="sexe">{{ 'NOTIFICATIONS.LIST.SELECT_ORG' | translate }} <span
                                    class="text-primary">*</span></label>
                            <ng-select [items]="organismes" notFoundText="Aucun élément trouvé" 
                            [ngClass]="{'is-invalid': submitted && formControl.organismId.errors}"
                            formControlName="organismId"
                              placeholder="Veuillez séléctionner" bindLabel="name" bindValue="identifier"></ng-select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="d-flex flex-column align-items-start">
                                <label class="mb-1" for="">Sexe</label>
                                <ng-select style="width: 100%;" [appendTo]="'body'" notFoundText="Aucun élement trouvé"
                                    [items]="sexes" bindLabel="name" bindValue="identifier"
                                    placeholder="Sélectionnez un élément" 
                                    >
                                </ng-select>
                            </div>
                      </div>
                   </div>

                   <div class="row col-12">
                      <div class="col-6">
                          <div class="form-group w-100">
                            <label for="sexe">Région<span
                                    class="text-primary">*</span></label>
                            <ng-select [items]="regions" notFoundText="Aucun élement₁" 
                            [ngClass]="{'is-invalid': submitted && formControl.sexeId.errors}"
                            formControlName="region"
                              placeholder="Veuillez séléctionner" bindLabel="name" bindValue="identifier"></ng-select>
                      </div>
                    </div>
                    <div class="col-6">
                     
                              <label class="" for="">Département</label>
                              <ng-select [items]="regions" notFoundText="Aucun élement₁" 
                            [ngClass]="{'is-invalid': submitted && formControl.sexeId.errors}"
                            formControlName="departement"
                              placeholder="Veuillez séléctionner" bindLabel="name" bindValue="identifier"></ng-select>
                        
                    </div>
                   </div>

                   <div class="row col-12 w-100 d-flex justify-content-end">
                   
                    <button
                        class="btn btn-success text-white px-3 my-3 text-right" (click)="modifier()">Enregistrer</button>
                   </div>
               
                </form> 
    </div>
  </div>




<ngx-spinner type="ball-scale-multiple">
    <p style="color: white; font-size: larger;">
       {{ 'GLOBAL.LOADING_MESSAGE' | translate}}
    </p>
</ngx-spinner>