<div class="home-btn d-none d-sm-block">
  <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>
<div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-12">
        <div class="authentication-bg">
          <div class="h-100 d-flex flex-column justify-content-center">
            <div class="row mx-5 align-items-center">
              <div class="col-md-5 d-flex flex-column align-items-center px-4">
                <div>
                  <a routerLink="" class="logo"><img src="assets/images/logo_no_bg.svg" height="120" alt="logo"></a>
                </div>

                <h5 class="text-white mt-4 mb-0">Dossier Patient Partagé</h5>

                <div class="mt-4 w-100 bg-light d-flex flex-column align-items-center p-4">
                  <h4 class="text-primary">Réinitialisation</h4>
                  <p class="text-center text-dark mb-0">Saisissez votre adresse mail et les instructions vous seront
                    envoyées.</p>

                  <div class="mt-3 w-100">
                    <form class="form-horizontal" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                      <ngb-alert type="danger" *ngIf="error" (close)="error=''">{{ error }}</ngb-alert>

                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-mail-line auti-custom-input-icon text-dark"></i>
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email requis</div>
                          <div *ngIf="f.email.errors.email">L'adresse e-mail doit être une adresse e-mail valide</div>
                        </div>
                      </div>

                      <div class="mt-4 text-center">
                        <a routerLink="/account/login" class="text-muted"><i class="mdi mdi-lock mr-1"></i>
                          Se connecter ! C'est par ici <i class="ri-login-box-fill align-bottom"></i></a>
                      </div>
                    </form>
                  </div>
                </div>

                <button (click)="onSubmit()" class="w-50 btn btn-primary py-2 mt-4">
                  Réinitialiser
                </button>

                <div class="mt-4 text-white text-center">
                  © {{ year }} EYONE.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end page -->
<!-- <div class="home-btn d-none d-sm-block">
  <a routerLink=""><i class="mdi mdi-home-variant h2 text-white"></i></a>
</div>
<div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <div class="authentication-page-content p-4 d-flex align-items-center min-vh-100">
          <div class="w-100">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <div>
                  <div class="text-center">
                    <div>
                      <a routerLink="" class="logo"><img src="assets/images/logoeyone.png" height="150" alt="logo"></a>
                    </div>

                    <h4 class="font-size-18 mt-4">Réinitialisation</h4>
                    <p class="text-muted">Votre activité à vos côtés</p>
                  </div>

                  <div class="p-2 mt-5">
                    <div class="alert alert-primary mb-4" role="alert">
                      Saisissez votre adresse mail et les instructions vous seront envoyées !
                    </div>
                    <form class="form-horizontal" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                      <ngb-alert type="danger" *ngIf="error" (close)="error=''">{{ error }}</ngb-alert>

                      <div class="form-group auth-form-group-custom mb-4">
                        <i class="ri-mail-line auti-custom-input-icon"></i>
                        <label for="email">Email</label>
                        <input type="email" formControlName="email" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email" placeholder="Email">
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">Email requis</div>
                          <div *ngIf="f.email.errors.email">L'adresse e-mail doit être une adresse e-mail valide</div>
                        </div>
                      </div>

                      <div class="mt-4 text-center">
                        <button class="btn btn-primary w-md waves-effect waves-light"
                          type="submit">Réinitialiser</button>
                      </div>

                      <div class="mt-4 text-center">
                        <a routerLink="/account/login" class="text-muted"><i class="mdi mdi-lock mr-1"></i>
                          Se connecter ! C'est par ici <i class="ri-login-box-fill"></i></a>
                      </div>
                    </form>
                  </div>

                  <div class="mt-5 text-center">
                    <p>© 2022 EYONE.</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="authentication-bg">
          <div class="bg-overlay"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->