<div>
    <div class="container-fluid p-0">
        <div class="row ">
            <div class="col-12 px-0">
                <img src="assets/images/login_bottom.png" alt="login_bottom" class="w-100"
                    style="position: absolute; bottom: 0; z-index: 0;">
                <div class="authentication-bg w-100">
                    <div class="h-100 d-flex flex-column justify-content-center">
                        <div class="row mx-5 align-items-center justify-content-center position-relative">
                            <div class="d-flex flex-column align-items-center px-4">
                                <div class="text-center mb-4 ministere">
                                    <img src="assets/images/rep_logo.svg" alt="">
                                </div>
                                <div class="mb-4">
                                    <a routerLink="" class="logo"><img src="assets/images/logo_no_bg.svg" height="120"
                                            alt="logo"></a>
                                </div>
                                <div class="body_form">
                                    <div class="body_form__header">
                                        <img src="assets/images/form_logo.svg" alt="" style="height: 40px;">
                                    </div>
                                    <div class="body_form__container">
                                        <div class="alert alert-danger px-1 py-2 font-size-12" role="alert"
                                            *ngIf="errorMessage">{{errorMessage}}</div>
                                        <form class="form-hoizontal" [formGroup]="loginForm">
                                            <div>
                                                <label for="emailD" class="mb-1">Nom d'utilisateur</label>
                                                <i class="ri-user-line auti-custom-input-icon text-dark"
                                                    *ngIf="!(submitted && f.email.errors)"></i>
                                                <input type="email" formControlName="email" class="form-control"
                                                    id="emailD"
                                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <span *ngIf="f.email.errors.required">{{ 'HEADER.LOGIN.REQUIRED' |
                                                        translate
                                                        }}</span>
                                                    <span *ngIf="f.email.errors.pattern">{{ 'HEADER.LOGIN.VALIDE_EMAIL'
                                                        |
                                                        translate
                                                        }}</span>
                                                </div>
                                            </div>
                                            <div class="mt-1">
                                                <i [ngClass]="{'ri-eye-line': showPassword,'ri-eye-off-line': !showPassword}"
                                                    class="ri-eye-off-line auti-custom-input-icon text-dark"
                                                    (click)="showPassword = !showPassword"
                                                    *ngIf="!(submitted && f.password.errors)"></i>
                                                <label for="passwordD" class="mt-1">Mot de passe</label>
                                                <input [type]="showPassword ? 'text': 'password'"
                                                    formControlName="password" class="form-control" id="passwordD"
                                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors}" />
                                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                                    <span *ngIf="f.email.errors.required">{{ 'HEADER.LOGIN.REQUIRED' |
                                                        translate
                                                        }}</span>
                                                </div>
                                            </div>

                                            <button (click)="onSubmit()" class="w-100 btn btn-primary py-2 mt-4">
                                                Connexion
                                            </button>

                                            <div class="mt-1 text-center">
                                                <a routerLink="/account/reset-password" class="text-muted">
                                                    Mot de passe oublié ?
                                                </a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="text-white" style="margin-top: 25%; font-size: 10px;">Direction Généal des
                                    Douanes {{ year
                                    }}. Tous droits réservés. </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>