<div class="container-fluid">
  <app-pagetitle title="{{ 'SHARED.HOME' | translate}}" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

  <div class="row">

    <!-- <div class="col-md-3">
      <a class="text-primary">
        <div class="card">
          <div class="card-body text-center">
            <i class="ri-group-line" style="font-size: 5rem;"></i>
          </div>
          <div class="card-body border-top text-center">
            <h6>Menu</h6>
          </div>
        </div>
      </a>
    </div> -->
         <div class="col-md-4">
          <a routerLink="/enrolement/enrole" class="text-primary">
            <div class="card">
              <div class="card-body text-center text-primary">
                <i class="ri-user-fill" style="font-size: 100px;"></i>
              </div>
              <div class="card-body border-top text-center">
                <h5>Identifier un patient</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4">
          <a routerLink="/enrolement/list" class="text-primary">
            <div class="card">
              <div class="card-body text-center text-primary">
                <i class="ri-user-follow-fill" style="font-size: 100px;"></i>
              </div>
              <div class="card-body border-top text-center">
                <h5>Enroler</h5>
              </div>
            </div>
          </a>
        </div>

  </div>
</div>